<%= form_for current_user.stocks.build do |f| %>
	<%= f.search_field :symbol, placeholder: "AAPL" %>
	<%= f.submit "Search" %>
<% end %>

<!-- exclude the blank stock we're building in the form -->
<% @ws = @watched_stocks[0...-1] %>

<% if @ws.length <= 0 %>
	<!-- no stocks -->
	<p>You aren't tracking any stocks yet.</p>
<% else %>
	<!-- list stocks -->
	<table>
		<% @ws.each do |stock| %>
			<tr>
				<td class="key"><%= stock.symbol %></td>
				<td class="price"><%= stock.price %></td>
			</tr>
		<% end %>
	</table>
<% end %>

<script type="text/javascript">

	function addSymbolToWatchedStocks(stock) {
		$.ajax({
			type: 'POST',
			url: '/stocks',
			data: {stock: {symbol: stock.Symbol,
										 price: stock.LastTradePriceOnly}},
			dataType: 'json',
			success: function(response) {
				console.log("Updated database with new stock info");
				updateActiveTab();
			},
			error: function() {

			}
		});
	}

	$('.new_stock').on('submit', function(event){
		event.preventDefault();
		
		var symbol = $('input[name="stock[symbol]"]').val();
		console.log(symbol);
		var url = buildQuery([symbol]);
		console.log(url);
		$.ajax({
			type: 'GET',
			url: url,
			dataType: 'json',
			success: function(response) {
				var stock = response.query.results.quote;

				// make sure what we got back is a stock
				if (stock.Currency != null) {
					// post it to our db and update the view (with info from Yahoo)
					addSymbolToWatchedStocks(stock);
				}
				// console.log("success");
			},
			error: function() {
				console.log("error");
			}
		});
	});
</script>